header {
    @extend %leftfull;
    @include box-sizing(boxsizing);
    @extend %pos-fixed;
    z-index: 99999;
    background-color: #fff;
    padding: 10px 26px;
    @include box-shadow(box-shadow-header);
    h1.logo {
        @extend %left;
        img {
            @extend %left;
            width: 88px;
        }
    }
    .profile-detail {
        @extend %right;
        margin-top: 10px;
        .dashboard-name {
            @extend %left;
            margin-top: 10px;
            margin-right: 18px;
            font-size: 1rem;
            line-height: 1.5rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            color: #000;
        }
        .pro-info {
            @extend %left;
            @extend %pointer;
            .profile-photo {
                @extend %left;
                width: 42px;
                height: 42px;
                @include border-radius(50%);
                @extend %overflow;
                background-color: #f1f1f1;
                img.student-profile {
                    @extend %left;
                    max-width: 100%;
                    width: 42px;
                }
            }
            .profile-information {
                @extend %left;
                margin-top: 12px;
                margin-left: 8px;
                @extend %pointer;
                font-size: 1.125rem;
                color: #000;
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    header {
        h1.logo {
            img {
                width: 82px;
            }
        }
        .profile-detail {
            margin-top: 4px;
            .dashboard-name {
                margin-top: 10px;
                margin-right: 22px;
            }
            .pro-info {
                .profile-photo {
                    width: 38px;
                    height: 38px;
                    img.student-profile {
                        width: 38px;
                    }
                }
                .profile-information {
                    margin-top: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 640px) {

    .mobile-hide{
        display: none!important;
    }
    header {
        padding: 6px 12px;
        h1.logo {
            margin-top: 10px;
            img {
                width: 48px;
            }
        }
        .profile-detail {
            margin-top: 4px;
            .dashboard-name {
                display: none;
                margin-top: 10px;
                margin-right: 10px;
            }
            .pro-info {
                margin-top: 2px;
                .profile-photo {
                    width: 32px;
                    height: 32px;
                    img.student-profile {
                        width: 32px;
                    }
                }
                .profile-information {
                    margin-top: 10px;
                }
            }
        }
    }
}
